<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div fxHide.xs>
     <img src="../../../assets/icons8-google-keep.svg" alt="img">
    </div>
    <h1 class="example-app-name">Fundoo</h1>
  
    <div class="searchdiv" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline" fxHide.xs [style.fontSize.px]="2" class="search" fxFlex="90">
        <button mat-icon-button class="search-button">
          <mat-icon id="search" matTooltip="Search"></mat-icon>
        </button>

        <input fxFlex="50" matInput placeholder="Search" [(ngModel)]="filterString" [style.fontSize.px]="18" (keyup)="onekeyup($event)" class="search-window"
          autocomplete="off" type="type=" text />
      </mat-form-field>&nbsp;&nbsp;&nbsp;
    </div>

    <div fxFlex="20" class="settingbtn" div fxLayout="row" fxLayoutAlign="end end">
      <button mat-icon-button aria-label="refresh button">
        <img src="./../../../assets/refresh_FILL0_wght400_GRAD0_opsz48.svg" alt="img" class="icon">
      </button>
    </div>&nbsp;

    <div class="icon" (click)="list()" *ngIf="gridView">
      <img src="../../../assets/view_agenda_FILL0_wght400_GRAD0_opsz48.svg">
    </div>
    <div class="icon" (click)="grid()" *ngIf="!gridView">
      <img src="../../../assets/grid_view_FILL0_wght400_GRAD0_opsz48.svg">
    </div>&nbsp;&nbsp;&nbsp;

    <div fxflex="20"> <button mat-icon-button aria-label="Setting icon">
        <img src="./../../../assets/settings_FILL0_wght400_GRAD0_opsz48.svg" alt="img" class="icon">
      </button>
    </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div fxflex="20"> <button mat-icon-button aria-label="app icon">
        <img src="./../../../assets/apps_FILL0_wght400_GRAD0_opsz48.svg" alt="img" class="icon">
      </button>
    </div>&nbsp;&nbsp;&nbsp;

    <div fxflex="20"> <button mat-icon-button aria-label="profile pic icon">
        <img (click)="logout()" routerLink="./login" src="./../../../assets/account_circle_FILL0_wght400_GRAD0_opsz48.svg" alt="img" class="icon">
      </button>
    </div>&nbsp;

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
       <div flexLayout="row" fxLayoutAlign="space-between center">
                <img src="../../../assets/lightbulb_FILL0_wght400_GRAD0_opsz48.svg" alt="" style="width: 20px; height:20px;">
                <a mat-list-item routerLink="/dashboard/notes" >Notes</a>
            </div>

            <div flexLayout="row" fxLayoutAlign="space-between center">
                <img src="../../../assets/notifications_FILL0_wght400_GRAD0_opsz48.svg" alt="" style="width: 20px; height:20px;">
                <a mat-list-item routerLink="." >Reminders</a>
            </div>
          
            <div flexLayout="row" fxLayoutAlign="space-between center">
                <img src="../../../assets/edit_FILL0_wght400_GRAD0_opsz48.svg" alt="" style="width: 20px; height:20px;">
                <a mat-list-item routerLink="." >Edit Label</a>
            </div>

            <div flexLayout="row" fxLayoutAlign="space-between center">
                <img src="../../../assets/archive_FILL0_wght400_GRAD0_opsz48.svg" alt="" style="width: 20px; height:20px;">
                <a mat-list-item routerLink="/dashboard/archive" >Archive</a>
            </div>

            <div flexLayout="row" fxLayoutAlign="space-between center">
                <img src="../../../assets/delete_FILL0_wght400_GRAD0_opsz48.svg" alt="" style="width: 20px; height:20px;">
                <a mat-list-item routerLink="/dashboard/trash" >Trash</a>
            </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>