.main {
    width: 1200px;
    padding-left: 50px;
}

.note {
    width: 350px;
    min-height: 100px;
    max-height: auto;
    margin: 20px;
    max-width: 800px;
}

.desc {
    margin-top: 10px;
}

.icon {
    padding-left: -20px;
}