.title input {
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;

}

.desc input {
    width: auto;
    height: auto;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.style {
    border-radius: 8px;
    width: auto;
    padding: -20px;
}