.Outerdiv{
  padding: 120px;
  
}

.ForgetContainer{
border: 1px solid grey;
border-radius: 7px;
padding: 20px;
padding-bottom: 5%;

}

.heading{
  font-size: 20px; 
  font-style: inherit;
}

mat-form-field.mat-form-field {
  font-size: 12px;
  width: 100%;
}